body {
  background-color: #f5f3f3;
}

.containerDashboard {
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-left: 50px;
}
.chartjsContainer {
  width: 97%;
  margin-top: 50px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 3px 3px #e4e2e2;
}

.chartjsContainer canvas {
  width: 500px;
}

.containerCRUDS {
  width: 97%;
  background-color: white;
  margin-top: 80px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 1px 1px 3px 3px #e4e2e2;
}
